name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Jar with static frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm install
        working-directory: db-scheduler-ui-frontend

      - name: Build project
        run: npm run build
        working-directory: db-scheduler-ui-frontend

      - name: Create static folder in backend
        run: mkdir db-scheduler-ui-backend/src/main/resources/static

      - name: Copy static frontend to java package
        run: cp -r db-scheduler-ui-frontend/dist/. db-scheduler-ui-backend/src/main/resources/static/

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
            java-version: '17'
            distribution: 'temurin'

      - name: Build java module with Maven
        run: mvn --batch-mode --update-snapshots package
        working-directory: db-scheduler-ui-backend

      - name: look for jar file
        run: ls -R db-scheduler-ui-backend

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v3
        with:
          name: production-files
          path: db-scheduler-ui-backend/target/*.jar

  deploy:
    #if: github.ref == 'refs/heads/main'
    name: Deploy to Heroku
    runs-on: ubuntu-latest
    needs: build
    steps:  # This line was over-indented in your original file
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download production-ready build files
        uses: actions/download-artifact@v3
        with:
          name: production-files

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.14
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "jobjugglerapi"