name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build frontend and all packages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm install
        working-directory: db-scheduler-ui-frontend

      - name: Build frontend
        run: npm run build
        working-directory: db-scheduler-ui-frontend

      - name: Create static folder in backend
        run: mkdir -p db-scheduler-ui/src/main/resources/static

      - name: Copy static frontend to java package
        run: cp -r db-scheduler-ui-frontend/dist/. db-scheduler-ui/src/main/resources/static/

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
            java-version: '11'
            distribution: 'temurin'

      - name: Build all packages with Maven
        run: mvn --batch-mode --update-snapshots package


      - name: Upload example-app build files
        #if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v3
        with:
          name: example-app
          path: example-app/target/*.jar

  deploy:
    #if: github.ref == 'refs/heads/main'
    name: Deploy to Heroku
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Download production-ready build files
        uses: actions/download-artifact@v3
        with:
          name: example-app

      - name: Build, Push and Release a Docker container to Heroku
        uses: gonuit/heroku-docker-deploy@v1.3.3
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: jobjugglerapi
          dockerfile_directory: ./
          dockerfile_name: dockerfile
          docker_options: "--no-cache"
          process_type: web
